@font-face {
    font-family: 'Myriad Pro';
    src: url("../fonts/MyriadPro/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}