// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arr-back-name: 'icon-arr-back';
$icon-arr-back-x: 237px;
$icon-arr-back-y: 152px;
$icon-arr-back-offset-x: -237px;
$icon-arr-back-offset-y: -152px;
$icon-arr-back-width: 14px;
$icon-arr-back-height: 20px;
$icon-arr-back-total-width: 284px;
$icon-arr-back-total-height: 253px;
$icon-arr-back-image: '../images/sprite.png';
$icon-arr-back: (237px, 152px, -237px, -152px, 14px, 20px, 284px, 253px, '../images/sprite.png', 'icon-arr-back', );
$icon-arr-down-med-name: 'icon-arr-down-med';
$icon-arr-down-med-x: 195px;
$icon-arr-down-med-y: 156px;
$icon-arr-down-med-offset-x: -195px;
$icon-arr-down-med-offset-y: -156px;
$icon-arr-down-med-width: 12px;
$icon-arr-down-med-height: 6px;
$icon-arr-down-med-total-width: 284px;
$icon-arr-down-med-total-height: 253px;
$icon-arr-down-med-image: '../images/sprite.png';
$icon-arr-down-med: (195px, 156px, -195px, -156px, 12px, 6px, 284px, 253px, '../images/sprite.png', 'icon-arr-down-med', );
$icon-arr-down-sm-name: 'icon-arr-down-sm';
$icon-arr-down-sm-x: 276px;
$icon-arr-down-sm-y: 238px;
$icon-arr-down-sm-offset-x: -276px;
$icon-arr-down-sm-offset-y: -238px;
$icon-arr-down-sm-width: 8px;
$icon-arr-down-sm-height: 4px;
$icon-arr-down-sm-total-width: 284px;
$icon-arr-down-sm-total-height: 253px;
$icon-arr-down-sm-image: '../images/sprite.png';
$icon-arr-down-sm: (276px, 238px, -276px, -238px, 8px, 4px, 284px, 253px, '../images/sprite.png', 'icon-arr-down-sm', );
$icon-arr-med-name: 'icon-arr-med';
$icon-arr-med-x: 237px;
$icon-arr-med-y: 233px;
$icon-arr-med-offset-x: -237px;
$icon-arr-med-offset-y: -233px;
$icon-arr-med-width: 11px;
$icon-arr-med-height: 20px;
$icon-arr-med-total-width: 284px;
$icon-arr-med-total-height: 253px;
$icon-arr-med-image: '../images/sprite.png';
$icon-arr-med: (237px, 233px, -237px, -233px, 11px, 20px, 284px, 253px, '../images/sprite.png', 'icon-arr-med', );
$icon-arr-sm-name: 'icon-arr-sm';
$icon-arr-sm-x: 225px;
$icon-arr-sm-y: 138px;
$icon-arr-sm-offset-x: -225px;
$icon-arr-sm-offset-y: -138px;
$icon-arr-sm-width: 9px;
$icon-arr-sm-height: 16px;
$icon-arr-sm-total-width: 284px;
$icon-arr-sm-total-height: 253px;
$icon-arr-sm-image: '../images/sprite.png';
$icon-arr-sm: (225px, 138px, -225px, -138px, 9px, 16px, 284px, 253px, '../images/sprite.png', 'icon-arr-sm', );
$icon-back-arr-name: 'icon-back-arr';
$icon-back-arr-x: 196px;
$icon-back-arr-y: 162px;
$icon-back-arr-offset-x: -196px;
$icon-back-arr-offset-y: -162px;
$icon-back-arr-width: 16px;
$icon-back-arr-height: 12px;
$icon-back-arr-total-width: 284px;
$icon-back-arr-total-height: 253px;
$icon-back-arr-image: '../images/sprite.png';
$icon-back-arr: (196px, 162px, -196px, -162px, 16px, 12px, 284px, 253px, '../images/sprite.png', 'icon-back-arr', );
$icon-calendar-sm-name: 'icon-calendar-sm';
$icon-calendar-sm-x: 212px;
$icon-calendar-sm-y: 162px;
$icon-calendar-sm-offset-x: -212px;
$icon-calendar-sm-offset-y: -162px;
$icon-calendar-sm-width: 13px;
$icon-calendar-sm-height: 11px;
$icon-calendar-sm-total-width: 284px;
$icon-calendar-sm-total-height: 253px;
$icon-calendar-sm-image: '../images/sprite.png';
$icon-calendar-sm: (212px, 162px, -212px, -162px, 13px, 11px, 284px, 253px, '../images/sprite.png', 'icon-calendar-sm', );
$icon-card-name: 'icon-card';
$icon-card-x: 258px;
$icon-card-y: 191px;
$icon-card-offset-x: -258px;
$icon-card-offset-y: -191px;
$icon-card-width: 23px;
$icon-card-height: 17px;
$icon-card-total-width: 284px;
$icon-card-total-height: 253px;
$icon-card-image: '../images/sprite.png';
$icon-card: (258px, 191px, -258px, -191px, 23px, 17px, 284px, 253px, '../images/sprite.png', 'icon-card', );
$icon-changes-name: 'icon-changes';
$icon-changes-x: 237px;
$icon-changes-y: 95px;
$icon-changes-offset-x: -237px;
$icon-changes-offset-y: -95px;
$icon-changes-width: 19px;
$icon-changes-height: 18px;
$icon-changes-total-width: 284px;
$icon-changes-total-height: 253px;
$icon-changes-image: '../images/sprite.png';
$icon-changes: (237px, 95px, -237px, -95px, 19px, 18px, 284px, 253px, '../images/sprite.png', 'icon-changes', );
$icon-email-name: 'icon-email';
$icon-email-x: 258px;
$icon-email-y: 24px;
$icon-email-offset-x: -258px;
$icon-email-offset-y: -24px;
$icon-email-width: 24px;
$icon-email-height: 24px;
$icon-email-total-width: 284px;
$icon-email-total-height: 253px;
$icon-email-image: '../images/sprite.png';
$icon-email: (258px, 24px, -258px, -24px, 24px, 24px, 284px, 253px, '../images/sprite.png', 'icon-email', );
$icon-eye-open-name: 'icon-eye-open';
$icon-eye-open-x: 237px;
$icon-eye-open-y: 220px;
$icon-eye-open-offset-x: -237px;
$icon-eye-open-offset-y: -220px;
$icon-eye-open-width: 21px;
$icon-eye-open-height: 13px;
$icon-eye-open-total-width: 284px;
$icon-eye-open-total-height: 253px;
$icon-eye-open-image: '../images/sprite.png';
$icon-eye-open: (237px, 220px, -237px, -220px, 21px, 13px, 284px, 253px, '../images/sprite.png', 'icon-eye-open', );
$icon-eye-shut-name: 'icon-eye-shut';
$icon-eye-shut-x: 237px;
$icon-eye-shut-y: 207px;
$icon-eye-shut-offset-x: -237px;
$icon-eye-shut-offset-y: -207px;
$icon-eye-shut-width: 21px;
$icon-eye-shut-height: 13px;
$icon-eye-shut-total-width: 284px;
$icon-eye-shut-total-height: 253px;
$icon-eye-shut-image: '../images/sprite.png';
$icon-eye-shut: (237px, 207px, -237px, -207px, 21px, 13px, 284px, 253px, '../images/sprite.png', 'icon-eye-shut', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 248px;
$icon-facebook-y: 233px;
$icon-facebook-offset-x: -248px;
$icon-facebook-offset-y: -233px;
$icon-facebook-width: 10px;
$icon-facebook-height: 19px;
$icon-facebook-total-width: 284px;
$icon-facebook-total-height: 253px;
$icon-facebook-image: '../images/sprite.png';
$icon-facebook: (248px, 233px, -248px, -233px, 10px, 19px, 284px, 253px, '../images/sprite.png', 'icon-facebook', );
$icon-flag-name: 'icon-flag';
$icon-flag-x: 237px;
$icon-flag-y: 186px;
$icon-flag-offset-x: -237px;
$icon-flag-offset-y: -186px;
$icon-flag-width: 13px;
$icon-flag-height: 21px;
$icon-flag-total-width: 284px;
$icon-flag-total-height: 253px;
$icon-flag-image: '../images/sprite.png';
$icon-flag: (237px, 186px, -237px, -186px, 13px, 21px, 284px, 253px, '../images/sprite.png', 'icon-flag', );
$icon-home-name: 'icon-home';
$icon-home-x: 258px;
$icon-home-y: 172px;
$icon-home-offset-x: -258px;
$icon-home-offset-y: -172px;
$icon-home-width: 21px;
$icon-home-height: 19px;
$icon-home-total-width: 284px;
$icon-home-total-height: 253px;
$icon-home-image: '../images/sprite.png';
$icon-home: (258px, 172px, -258px, -172px, 21px, 19px, 284px, 253px, '../images/sprite.png', 'icon-home', );
$icon-icon-shield-half-name: 'icon-icon-shield-half';
$icon-icon-shield-half-x: 69px;
$icon-icon-shield-half-y: 126px;
$icon-icon-shield-half-offset-x: -69px;
$icon-icon-shield-half-offset-y: -126px;
$icon-icon-shield-half-width: 52px;
$icon-icon-shield-half-height: 127px;
$icon-icon-shield-half-total-width: 284px;
$icon-icon-shield-half-total-height: 253px;
$icon-icon-shield-half-image: '../images/sprite.png';
$icon-icon-shield-half: (69px, 126px, -69px, -126px, 52px, 127px, 284px, 253px, '../images/sprite.png', 'icon-icon-shield-half', );
$icon-icon-shield-name: 'icon-icon-shield';
$icon-icon-shield-x: 135px;
$icon-icon-shield-y: 0px;
$icon-icon-shield-offset-x: -135px;
$icon-icon-shield-offset-y: 0px;
$icon-icon-shield-width: 102px;
$icon-icon-shield-height: 126px;
$icon-icon-shield-total-width: 284px;
$icon-icon-shield-total-height: 253px;
$icon-icon-shield-image: '../images/sprite.png';
$icon-icon-shield: (135px, 0px, -135px, 0px, 102px, 126px, 284px, 253px, '../images/sprite.png', 'icon-icon-shield', );
$icon-icon-star-full-name: 'icon-icon-star-full';
$icon-icon-star-full-x: 0px;
$icon-icon-star-full-y: 0px;
$icon-icon-star-full-offset-x: 0px;
$icon-icon-star-full-offset-y: 0px;
$icon-icon-star-full-width: 135px;
$icon-icon-star-full-height: 126px;
$icon-icon-star-full-total-width: 284px;
$icon-icon-star-full-total-height: 253px;
$icon-icon-star-full-image: '../images/sprite.png';
$icon-icon-star-full: (0px, 0px, 0px, 0px, 135px, 126px, 284px, 253px, '../images/sprite.png', 'icon-icon-star-full', );
$icon-icon-star-half-name: 'icon-icon-star-half';
$icon-icon-star-half-x: 0px;
$icon-icon-star-half-y: 126px;
$icon-icon-star-half-offset-x: 0px;
$icon-icon-star-half-offset-y: -126px;
$icon-icon-star-half-width: 69px;
$icon-icon-star-half-height: 127px;
$icon-icon-star-half-total-width: 284px;
$icon-icon-star-half-total-height: 253px;
$icon-icon-star-half-image: '../images/sprite.png';
$icon-icon-star-half: (0px, 126px, 0px, -126px, 69px, 127px, 284px, 253px, '../images/sprite.png', 'icon-icon-star-half', );
$icon-icon-usr-name: 'icon-icon-usr';
$icon-icon-usr-x: 121px;
$icon-icon-usr-y: 126px;
$icon-icon-usr-offset-x: -121px;
$icon-icon-usr-offset-y: -126px;
$icon-icon-usr-width: 49px;
$icon-icon-usr-height: 55px;
$icon-icon-usr-total-width: 284px;
$icon-icon-usr-total-height: 253px;
$icon-icon-usr-image: '../images/sprite.png';
$icon-icon-usr: (121px, 126px, -121px, -126px, 49px, 55px, 284px, 253px, '../images/sprite.png', 'icon-icon-usr', );
$icon-info-name: 'icon-info';
$icon-info-x: 237px;
$icon-info-y: 113px;
$icon-info-offset-x: -237px;
$icon-info-offset-y: -113px;
$icon-info-width: 15px;
$icon-info-height: 22px;
$icon-info-total-width: 284px;
$icon-info-total-height: 253px;
$icon-info-image: '../images/sprite.png';
$icon-info: (237px, 113px, -237px, -113px, 15px, 22px, 284px, 253px, '../images/sprite.png', 'icon-info', );
$icon-link-name: 'icon-link';
$icon-link-x: 170px;
$icon-link-y: 162px;
$icon-link-offset-x: -170px;
$icon-link-offset-y: -162px;
$icon-link-width: 26px;
$icon-link-height: 12px;
$icon-link-total-width: 284px;
$icon-link-total-height: 253px;
$icon-link-image: '../images/sprite.png';
$icon-link: (170px, 162px, -170px, -162px, 26px, 12px, 284px, 253px, '../images/sprite.png', 'icon-link', );
$icon-link-1-name: 'icon-link_1';
$icon-link-1-x: 146px;
$icon-link-1-y: 181px;
$icon-link-1-offset-x: -146px;
$icon-link-1-offset-y: -181px;
$icon-link-1-width: 30px;
$icon-link-1-height: 29px;
$icon-link-1-total-width: 284px;
$icon-link-1-total-height: 253px;
$icon-link-1-image: '../images/sprite.png';
$icon-link-1: (146px, 181px, -146px, -181px, 30px, 29px, 284px, 253px, '../images/sprite.png', 'icon-link_1', );
$icon-location-name: 'icon-location';
$icon-location-x: 146px;
$icon-location-y: 217px;
$icon-location-offset-x: -146px;
$icon-location-offset-y: -217px;
$icon-location-width: 23px;
$icon-location-height: 33px;
$icon-location-total-width: 284px;
$icon-location-total-height: 253px;
$icon-location-image: '../images/sprite.png';
$icon-location: (146px, 217px, -146px, -217px, 23px, 33px, 284px, 253px, '../images/sprite.png', 'icon-location', );
$icon-market-name: 'icon-market';
$icon-market-x: 258px;
$icon-market-y: 69px;
$icon-market-offset-x: -258px;
$icon-market-offset-y: -69px;
$icon-market-width: 25px;
$icon-market-height: 20px;
$icon-market-total-width: 284px;
$icon-market-total-height: 253px;
$icon-market-image: '../images/sprite.png';
$icon-market: (258px, 69px, -258px, -69px, 25px, 20px, 284px, 253px, '../images/sprite.png', 'icon-market', );
$icon-more-name: 'icon-more';
$icon-more-x: 237px;
$icon-more-y: 172px;
$icon-more-offset-x: -237px;
$icon-more-offset-y: -172px;
$icon-more-width: 20px;
$icon-more-height: 14px;
$icon-more-total-width: 284px;
$icon-more-total-height: 253px;
$icon-more-image: '../images/sprite.png';
$icon-more: (237px, 172px, -237px, -172px, 20px, 14px, 284px, 253px, '../images/sprite.png', 'icon-more', );
$icon-msg-name: 'icon-msg';
$icon-msg-x: 258px;
$icon-msg-y: 155px;
$icon-msg-offset-x: -258px;
$icon-msg-offset-y: -155px;
$icon-msg-width: 24px;
$icon-msg-height: 17px;
$icon-msg-total-width: 284px;
$icon-msg-total-height: 253px;
$icon-msg-image: '../images/sprite.png';
$icon-msg: (258px, 155px, -258px, -155px, 24px, 17px, 284px, 253px, '../images/sprite.png', 'icon-msg', );
$icon-notification-name: 'icon-notification';
$icon-notification-x: 121px;
$icon-notification-y: 217px;
$icon-notification-offset-x: -121px;
$icon-notification-offset-y: -217px;
$icon-notification-width: 25px;
$icon-notification-height: 33px;
$icon-notification-total-width: 284px;
$icon-notification-total-height: 253px;
$icon-notification-image: '../images/sprite.png';
$icon-notification: (121px, 217px, -121px, -217px, 25px, 33px, 284px, 253px, '../images/sprite.png', 'icon-notification', );
$icon-page-name: 'icon-page';
$icon-page-x: 170px;
$icon-page-y: 126px;
$icon-page-offset-x: -170px;
$icon-page-offset-y: -126px;
$icon-page-width: 25px;
$icon-page-height: 36px;
$icon-page-total-width: 284px;
$icon-page-total-height: 253px;
$icon-page-image: '../images/sprite.png';
$icon-page: (170px, 126px, -170px, -126px, 25px, 36px, 284px, 253px, '../images/sprite.png', 'icon-page', );
$icon-passport-name: 'icon-passport';
$icon-passport-x: 121px;
$icon-passport-y: 181px;
$icon-passport-offset-x: -121px;
$icon-passport-offset-y: -181px;
$icon-passport-width: 25px;
$icon-passport-height: 36px;
$icon-passport-total-width: 284px;
$icon-passport-total-height: 253px;
$icon-passport-image: '../images/sprite.png';
$icon-passport: (121px, 181px, -121px, -181px, 25px, 36px, 284px, 253px, '../images/sprite.png', 'icon-passport', );
$icon-payments-calendar-name: 'icon-payments-calendar';
$icon-payments-calendar-x: 258px;
$icon-payments-calendar-y: 48px;
$icon-payments-calendar-offset-x: -258px;
$icon-payments-calendar-offset-y: -48px;
$icon-payments-calendar-width: 26px;
$icon-payments-calendar-height: 21px;
$icon-payments-calendar-total-width: 284px;
$icon-payments-calendar-total-height: 253px;
$icon-payments-calendar-image: '../images/sprite.png';
$icon-payments-calendar: (258px, 48px, -258px, -48px, 26px, 21px, 284px, 253px, '../images/sprite.png', 'icon-payments-calendar', );
$icon-pencil-name: 'icon-pencil';
$icon-pencil-x: 225px;
$icon-pencil-y: 126px;
$icon-pencil-offset-x: -225px;
$icon-pencil-offset-y: -126px;
$icon-pencil-width: 12px;
$icon-pencil-height: 12px;
$icon-pencil-total-width: 284px;
$icon-pencil-total-height: 253px;
$icon-pencil-image: '../images/sprite.png';
$icon-pencil: (225px, 126px, -225px, -126px, 12px, 12px, 284px, 253px, '../images/sprite.png', 'icon-pencil', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 237px;
$icon-phone-y: 0px;
$icon-phone-offset-x: -237px;
$icon-phone-offset-y: 0px;
$icon-phone-width: 21px;
$icon-phone-height: 36px;
$icon-phone-total-width: 284px;
$icon-phone-total-height: 253px;
$icon-phone-image: '../images/sprite.png';
$icon-phone: (237px, 0px, -237px, 0px, 21px, 36px, 284px, 253px, '../images/sprite.png', 'icon-phone', );
$icon-play-name: 'icon-play';
$icon-play-x: 258px;
$icon-play-y: 114px;
$icon-play-offset-x: -258px;
$icon-play-offset-y: -114px;
$icon-play-width: 21px;
$icon-play-height: 22px;
$icon-play-total-width: 284px;
$icon-play-total-height: 253px;
$icon-play-image: '../images/sprite.png';
$icon-play: (258px, 114px, -258px, -114px, 21px, 22px, 284px, 253px, '../images/sprite.png', 'icon-play', );
$icon-search-name: 'icon-search';
$icon-search-x: 258px;
$icon-search-y: 208px;
$icon-search-offset-x: -258px;
$icon-search-offset-y: -208px;
$icon-search-width: 19px;
$icon-search-height: 20px;
$icon-search-total-width: 284px;
$icon-search-total-height: 253px;
$icon-search-image: '../images/sprite.png';
$icon-search: (258px, 208px, -258px, -208px, 19px, 20px, 284px, 253px, '../images/sprite.png', 'icon-search', );
$icon-shield-med-name: 'icon-shield-med';
$icon-shield-med-x: 237px;
$icon-shield-med-y: 57px;
$icon-shield-med-offset-x: -237px;
$icon-shield-med-offset-y: -57px;
$icon-shield-med-width: 17px;
$icon-shield-med-height: 21px;
$icon-shield-med-total-width: 284px;
$icon-shield-med-total-height: 253px;
$icon-shield-med-image: '../images/sprite.png';
$icon-shield-med: (237px, 57px, -237px, -57px, 17px, 21px, 284px, 253px, '../images/sprite.png', 'icon-shield-med', );
$icon-shield-sm-name: 'icon-shield-sm';
$icon-shield-sm-x: 225px;
$icon-shield-sm-y: 162px;
$icon-shield-sm-offset-x: -225px;
$icon-shield-sm-offset-y: -162px;
$icon-shield-sm-width: 9px;
$icon-shield-sm-height: 11px;
$icon-shield-sm-total-width: 284px;
$icon-shield-sm-total-height: 253px;
$icon-shield-sm-image: '../images/sprite.png';
$icon-shield-sm: (225px, 162px, -225px, -162px, 9px, 11px, 284px, 253px, '../images/sprite.png', 'icon-shield-sm', );
$icon-shield-name: 'icon-shield';
$icon-shield-x: 258px;
$icon-shield-y: 228px;
$icon-shield-offset-x: -258px;
$icon-shield-offset-y: -228px;
$icon-shield-width: 18px;
$icon-shield-height: 21px;
$icon-shield-total-width: 284px;
$icon-shield-total-height: 253px;
$icon-shield-image: '../images/sprite.png';
$icon-shield: (258px, 228px, -258px, -228px, 18px, 21px, 284px, 253px, '../images/sprite.png', 'icon-shield', );
$icon-skype-name: 'icon-skype';
$icon-skype-x: 194px;
$icon-skype-y: 217px;
$icon-skype-offset-x: -194px;
$icon-skype-offset-y: -217px;
$icon-skype-width: 26px;
$icon-skype-height: 24px;
$icon-skype-total-width: 284px;
$icon-skype-total-height: 253px;
$icon-skype-image: '../images/sprite.png';
$icon-skype: (194px, 217px, -194px, -217px, 26px, 24px, 284px, 253px, '../images/sprite.png', 'icon-skype', );
$icon-star-name: 'icon-star';
$icon-star-x: 258px;
$icon-star-y: 0px;
$icon-star-offset-x: -258px;
$icon-star-offset-y: 0px;
$icon-star-width: 26px;
$icon-star-height: 24px;
$icon-star-total-width: 284px;
$icon-star-total-height: 253px;
$icon-star-image: '../images/sprite.png';
$icon-star: (258px, 0px, -258px, 0px, 26px, 24px, 284px, 253px, '../images/sprite.png', 'icon-star', );
$icon-store-name: 'icon-store';
$icon-store-x: 258px;
$icon-store-y: 136px;
$icon-store-offset-x: -258px;
$icon-store-offset-y: -136px;
$icon-store-width: 24px;
$icon-store-height: 19px;
$icon-store-total-width: 284px;
$icon-store-total-height: 253px;
$icon-store-image: '../images/sprite.png';
$icon-store: (258px, 136px, -258px, -136px, 24px, 19px, 284px, 253px, '../images/sprite.png', 'icon-store', );
$icon-telegram-name: 'icon-telegram';
$icon-telegram-x: 176px;
$icon-telegram-y: 181px;
$icon-telegram-offset-x: -176px;
$icon-telegram-offset-y: -181px;
$icon-telegram-width: 27px;
$icon-telegram-height: 25px;
$icon-telegram-total-width: 284px;
$icon-telegram-total-height: 253px;
$icon-telegram-image: '../images/sprite.png';
$icon-telegram: (176px, 181px, -176px, -181px, 27px, 25px, 284px, 253px, '../images/sprite.png', 'icon-telegram', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 237px;
$icon-twitter-y: 78px;
$icon-twitter-offset-x: -237px;
$icon-twitter-offset-y: -78px;
$icon-twitter-width: 21px;
$icon-twitter-height: 17px;
$icon-twitter-total-width: 284px;
$icon-twitter-total-height: 253px;
$icon-twitter-image: '../images/sprite.png';
$icon-twitter: (237px, 78px, -237px, -78px, 21px, 17px, 284px, 253px, '../images/sprite.png', 'icon-twitter', );
$icon-uah-name: 'icon-uah';
$icon-uah-x: 237px;
$icon-uah-y: 36px;
$icon-uah-offset-x: -237px;
$icon-uah-offset-y: -36px;
$icon-uah-width: 17px;
$icon-uah-height: 21px;
$icon-uah-total-width: 284px;
$icon-uah-total-height: 253px;
$icon-uah-image: '../images/sprite.png';
$icon-uah: (237px, 36px, -237px, -36px, 17px, 21px, 284px, 253px, '../images/sprite.png', 'icon-uah', );
$icon-user-name: 'icon-user';
$icon-user-x: 258px;
$icon-user-y: 89px;
$icon-user-offset-x: -258px;
$icon-user-offset-y: -89px;
$icon-user-width: 20px;
$icon-user-height: 25px;
$icon-user-total-width: 284px;
$icon-user-total-height: 253px;
$icon-user-image: '../images/sprite.png';
$icon-user: (258px, 89px, -258px, -89px, 20px, 25px, 284px, 253px, '../images/sprite.png', 'icon-user', );
$icon-usr-name: 'icon-usr';
$icon-usr-x: 195px;
$icon-usr-y: 126px;
$icon-usr-offset-x: -195px;
$icon-usr-offset-y: -126px;
$icon-usr-width: 30px;
$icon-usr-height: 30px;
$icon-usr-total-width: 284px;
$icon-usr-total-height: 253px;
$icon-usr-image: '../images/sprite.png';
$icon-usr: (195px, 126px, -195px, -126px, 30px, 30px, 284px, 253px, '../images/sprite.png', 'icon-usr', );
$icon-valid-name: 'icon-valid';
$icon-valid-x: 276px;
$icon-valid-y: 228px;
$icon-valid-offset-x: -276px;
$icon-valid-offset-y: -228px;
$icon-valid-width: 8px;
$icon-valid-height: 10px;
$icon-valid-total-width: 284px;
$icon-valid-total-height: 253px;
$icon-valid-image: '../images/sprite.png';
$icon-valid: (276px, 228px, -276px, -228px, 8px, 10px, 284px, 253px, '../images/sprite.png', 'icon-valid', );
$icon-viber-name: 'icon-viber';
$icon-viber-x: 169px;
$icon-viber-y: 217px;
$icon-viber-offset-x: -169px;
$icon-viber-offset-y: -217px;
$icon-viber-width: 25px;
$icon-viber-height: 25px;
$icon-viber-total-width: 284px;
$icon-viber-total-height: 253px;
$icon-viber-image: '../images/sprite.png';
$icon-viber: (169px, 217px, -169px, -217px, 25px, 25px, 284px, 253px, '../images/sprite.png', 'icon-viber', );
$icon-whatsapp-name: 'icon-whatsapp';
$icon-whatsapp-x: 203px;
$icon-whatsapp-y: 181px;
$icon-whatsapp-offset-x: -203px;
$icon-whatsapp-offset-y: -181px;
$icon-whatsapp-width: 25px;
$icon-whatsapp-height: 25px;
$icon-whatsapp-total-width: 284px;
$icon-whatsapp-total-height: 253px;
$icon-whatsapp-image: '../images/sprite.png';
$icon-whatsapp: (203px, 181px, -203px, -181px, 25px, 25px, 284px, 253px, '../images/sprite.png', 'icon-whatsapp', );
$icon-youtube-name: 'icon-youtube';
$icon-youtube-x: 237px;
$icon-youtube-y: 135px;
$icon-youtube-offset-x: -237px;
$icon-youtube-offset-y: -135px;
$icon-youtube-width: 17px;
$icon-youtube-height: 17px;
$icon-youtube-total-width: 284px;
$icon-youtube-total-height: 253px;
$icon-youtube-image: '../images/sprite.png';
$icon-youtube: (237px, 135px, -237px, -135px, 17px, 17px, 284px, 253px, '../images/sprite.png', 'icon-youtube', );
$spritesheet-width: 284px;
$spritesheet-height: 253px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-arr-back, $icon-arr-down-med, $icon-arr-down-sm, $icon-arr-med, $icon-arr-sm, $icon-back-arr, $icon-calendar-sm, $icon-card, $icon-changes, $icon-email, $icon-eye-open, $icon-eye-shut, $icon-facebook, $icon-flag, $icon-home, $icon-icon-shield-half, $icon-icon-shield, $icon-icon-star-full, $icon-icon-star-half, $icon-icon-usr, $icon-info, $icon-link, $icon-link-1, $icon-location, $icon-market, $icon-more, $icon-msg, $icon-notification, $icon-page, $icon-passport, $icon-payments-calendar, $icon-pencil, $icon-phone, $icon-play, $icon-search, $icon-shield-med, $icon-shield-sm, $icon-shield, $icon-skype, $icon-star, $icon-store, $icon-telegram, $icon-twitter, $icon-uah, $icon-user, $icon-usr, $icon-valid, $icon-viber, $icon-whatsapp, $icon-youtube, );
$spritesheet: (284px, 253px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
