// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arr-back-name: 'icon-arr-back';
$icon-arr-back-x: 988px;
$icon-arr-back-y: 633px;
$icon-arr-back-offset-x: -988px;
$icon-arr-back-offset-y: -633px;
$icon-arr-back-width: 58px;
$icon-arr-back-height: 83px;
$icon-arr-back-total-width: 1184px;
$icon-arr-back-total-height: 1054px;
$icon-arr-back-image: '../images/sprite.png';
$icon-arr-back: (988px, 633px, -988px, -633px, 58px, 83px, 1184px, 1054px, '../images/sprite.png', 'icon-arr-back', );
$icon-arr-down-med-name: 'icon-arr-down-med';
$icon-arr-down-med-x: 915px;
$icon-arr-down-med-y: 642px;
$icon-arr-down-med-offset-x: -915px;
$icon-arr-down-med-offset-y: -642px;
$icon-arr-down-med-width: 50px;
$icon-arr-down-med-height: 25px;
$icon-arr-down-med-total-width: 1184px;
$icon-arr-down-med-total-height: 1054px;
$icon-arr-down-med-image: '../images/sprite.png';
$icon-arr-down-med: (915px, 642px, -915px, -642px, 50px, 25px, 1184px, 1054px, '../images/sprite.png', 'icon-arr-down-med', );
$icon-arr-down-sm-name: 'icon-arr-down-sm';
$icon-arr-down-sm-x: 1151px;
$icon-arr-down-sm-y: 867px;
$icon-arr-down-sm-offset-x: -1151px;
$icon-arr-down-sm-offset-y: -867px;
$icon-arr-down-sm-width: 33px;
$icon-arr-down-sm-height: 17px;
$icon-arr-down-sm-total-width: 1184px;
$icon-arr-down-sm-total-height: 1054px;
$icon-arr-down-sm-image: '../images/sprite.png';
$icon-arr-down-sm: (1151px, 867px, -1151px, -867px, 33px, 17px, 1184px, 1054px, '../images/sprite.png', 'icon-arr-down-sm', );
$icon-arr-med-name: 'icon-arr-med';
$icon-arr-med-x: 988px;
$icon-arr-med-y: 970px;
$icon-arr-med-offset-x: -988px;
$icon-arr-med-offset-y: -970px;
$icon-arr-med-width: 46px;
$icon-arr-med-height: 83px;
$icon-arr-med-total-width: 1184px;
$icon-arr-med-total-height: 1054px;
$icon-arr-med-image: '../images/sprite.png';
$icon-arr-med: (988px, 970px, -988px, -970px, 46px, 83px, 1184px, 1054px, '../images/sprite.png', 'icon-arr-med', );
$icon-arr-sm-name: 'icon-arr-sm';
$icon-arr-sm-x: 915px;
$icon-arr-sm-y: 575px;
$icon-arr-sm-offset-x: -915px;
$icon-arr-sm-offset-y: -575px;
$icon-arr-sm-width: 38px;
$icon-arr-sm-height: 67px;
$icon-arr-sm-total-width: 1184px;
$icon-arr-sm-total-height: 1054px;
$icon-arr-sm-image: '../images/sprite.png';
$icon-arr-sm: (915px, 575px, -915px, -575px, 38px, 67px, 1184px, 1054px, '../images/sprite.png', 'icon-arr-sm', );
$icon-back-arr-name: 'icon-back-arr';
$icon-back-arr-x: 915px;
$icon-back-arr-y: 525px;
$icon-back-arr-offset-x: -915px;
$icon-back-arr-offset-y: -525px;
$icon-back-arr-width: 67px;
$icon-back-arr-height: 50px;
$icon-back-arr-total-width: 1184px;
$icon-back-arr-total-height: 1054px;
$icon-back-arr-image: '../images/sprite.png';
$icon-back-arr: (915px, 525px, -915px, -525px, 67px, 50px, 1184px, 1054px, '../images/sprite.png', 'icon-back-arr', );
$icon-calendar-sm-name: 'icon-calendar-sm';
$icon-calendar-sm-x: 865px;
$icon-calendar-sm-y: 675px;
$icon-calendar-sm-offset-x: -865px;
$icon-calendar-sm-offset-y: -675px;
$icon-calendar-sm-width: 54px;
$icon-calendar-sm-height: 46px;
$icon-calendar-sm-total-width: 1184px;
$icon-calendar-sm-total-height: 1054px;
$icon-calendar-sm-image: '../images/sprite.png';
$icon-calendar-sm: (865px, 675px, -865px, -675px, 54px, 46px, 1184px, 1054px, '../images/sprite.png', 'icon-calendar-sm', );
$icon-card-name: 'icon-card';
$icon-card-x: 1076px;
$icon-card-y: 796px;
$icon-card-offset-x: -1076px;
$icon-card-offset-y: -796px;
$icon-card-width: 96px;
$icon-card-height: 71px;
$icon-card-total-width: 1184px;
$icon-card-total-height: 1054px;
$icon-card-image: '../images/sprite.png';
$icon-card: (1076px, 796px, -1076px, -796px, 96px, 71px, 1184px, 1054px, '../images/sprite.png', 'icon-card', );
$icon-changes-name: 'icon-changes';
$icon-changes-x: 988px;
$icon-changes-y: 489px;
$icon-changes-offset-x: -988px;
$icon-changes-offset-y: -489px;
$icon-changes-width: 79px;
$icon-changes-height: 73px;
$icon-changes-total-width: 1184px;
$icon-changes-total-height: 1054px;
$icon-changes-image: '../images/sprite.png';
$icon-changes: (988px, 489px, -988px, -489px, 79px, 73px, 1184px, 1054px, '../images/sprite.png', 'icon-changes', );
$icon-email-name: 'icon-email';
$icon-email-x: 1076px;
$icon-email-y: 100px;
$icon-email-offset-x: -1076px;
$icon-email-offset-y: -100px;
$icon-email-width: 100px;
$icon-email-height: 100px;
$icon-email-total-width: 1184px;
$icon-email-total-height: 1054px;
$icon-email-image: '../images/sprite.png';
$icon-email: (1076px, 100px, -1076px, -100px, 100px, 100px, 1184px, 1054px, '../images/sprite.png', 'icon-email', );
$icon-eye-open-name: 'icon-eye-open';
$icon-eye-open-x: 988px;
$icon-eye-open-y: 774px;
$icon-eye-open-offset-x: -988px;
$icon-eye-open-offset-y: -774px;
$icon-eye-open-width: 88px;
$icon-eye-open-height: 54px;
$icon-eye-open-total-width: 1184px;
$icon-eye-open-total-height: 1054px;
$icon-eye-open-image: '../images/sprite.png';
$icon-eye-open: (988px, 774px, -988px, -774px, 88px, 54px, 1184px, 1054px, '../images/sprite.png', 'icon-eye-open', );
$icon-eye-shut-name: 'icon-eye-shut';
$icon-eye-shut-x: 988px;
$icon-eye-shut-y: 828px;
$icon-eye-shut-offset-x: -988px;
$icon-eye-shut-offset-y: -828px;
$icon-eye-shut-width: 88px;
$icon-eye-shut-height: 54px;
$icon-eye-shut-total-width: 1184px;
$icon-eye-shut-total-height: 1054px;
$icon-eye-shut-image: '../images/sprite.png';
$icon-eye-shut: (988px, 828px, -988px, -828px, 88px, 54px, 1184px, 1054px, '../images/sprite.png', 'icon-eye-shut', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 1034px;
$icon-facebook-y: 970px;
$icon-facebook-offset-x: -1034px;
$icon-facebook-offset-y: -970px;
$icon-facebook-width: 42px;
$icon-facebook-height: 79px;
$icon-facebook-total-width: 1184px;
$icon-facebook-total-height: 1054px;
$icon-facebook-image: '../images/sprite.png';
$icon-facebook: (1034px, 970px, -1034px, -970px, 42px, 79px, 1184px, 1054px, '../images/sprite.png', 'icon-facebook', );
$icon-flag-name: 'icon-flag';
$icon-flag-x: 988px;
$icon-flag-y: 882px;
$icon-flag-offset-x: -988px;
$icon-flag-offset-y: -882px;
$icon-flag-width: 54px;
$icon-flag-height: 88px;
$icon-flag-total-width: 1184px;
$icon-flag-total-height: 1054px;
$icon-flag-image: '../images/sprite.png';
$icon-flag: (988px, 882px, -988px, -882px, 54px, 88px, 1184px, 1054px, '../images/sprite.png', 'icon-flag', );
$icon-home-name: 'icon-home';
$icon-home-x: 1076px;
$icon-home-y: 717px;
$icon-home-offset-x: -1076px;
$icon-home-offset-y: -717px;
$icon-home-width: 88px;
$icon-home-height: 79px;
$icon-home-total-width: 1184px;
$icon-home-total-height: 1054px;
$icon-home-image: '../images/sprite.png';
$icon-home: (1076px, 717px, -1076px, -717px, 88px, 79px, 1184px, 1054px, '../images/sprite.png', 'icon-home', );
$icon-icon-shield-half-name: 'icon-icon-shield-half';
$icon-icon-shield-half-x: 286px;
$icon-icon-shield-half-y: 525px;
$icon-icon-shield-half-offset-x: -286px;
$icon-icon-shield-half-offset-y: -525px;
$icon-icon-shield-half-width: 217px;
$icon-icon-shield-half-height: 529px;
$icon-icon-shield-half-total-width: 1184px;
$icon-icon-shield-half-total-height: 1054px;
$icon-icon-shield-half-image: '../images/sprite.png';
$icon-icon-shield-half: (286px, 525px, -286px, -525px, 217px, 529px, 1184px, 1054px, '../images/sprite.png', 'icon-icon-shield-half', );
$icon-icon-shield-name: 'icon-icon-shield';
$icon-icon-shield-x: 563px;
$icon-icon-shield-y: 0px;
$icon-icon-shield-offset-x: -563px;
$icon-icon-shield-offset-y: 0px;
$icon-icon-shield-width: 425px;
$icon-icon-shield-height: 525px;
$icon-icon-shield-total-width: 1184px;
$icon-icon-shield-total-height: 1054px;
$icon-icon-shield-image: '../images/sprite.png';
$icon-icon-shield: (563px, 0px, -563px, 0px, 425px, 525px, 1184px, 1054px, '../images/sprite.png', 'icon-icon-shield', );
$icon-icon-star-full-name: 'icon-icon-star-full';
$icon-icon-star-full-x: 0px;
$icon-icon-star-full-y: 0px;
$icon-icon-star-full-offset-x: 0px;
$icon-icon-star-full-offset-y: 0px;
$icon-icon-star-full-width: 563px;
$icon-icon-star-full-height: 525px;
$icon-icon-star-full-total-width: 1184px;
$icon-icon-star-full-total-height: 1054px;
$icon-icon-star-full-image: '../images/sprite.png';
$icon-icon-star-full: (0px, 0px, 0px, 0px, 563px, 525px, 1184px, 1054px, '../images/sprite.png', 'icon-icon-star-full', );
$icon-icon-star-half-name: 'icon-icon-star-half';
$icon-icon-star-half-x: 0px;
$icon-icon-star-half-y: 525px;
$icon-icon-star-half-offset-x: 0px;
$icon-icon-star-half-offset-y: -525px;
$icon-icon-star-half-width: 286px;
$icon-icon-star-half-height: 529px;
$icon-icon-star-half-total-width: 1184px;
$icon-icon-star-half-total-height: 1054px;
$icon-icon-star-half-image: '../images/sprite.png';
$icon-icon-star-half: (0px, 525px, 0px, -525px, 286px, 529px, 1184px, 1054px, '../images/sprite.png', 'icon-icon-star-half', );
$icon-icon-usr-name: 'icon-icon-usr';
$icon-icon-usr-x: 503px;
$icon-icon-usr-y: 525px;
$icon-icon-usr-offset-x: -503px;
$icon-icon-usr-offset-y: -525px;
$icon-icon-usr-width: 204px;
$icon-icon-usr-height: 229px;
$icon-icon-usr-total-width: 1184px;
$icon-icon-usr-total-height: 1054px;
$icon-icon-usr-image: '../images/sprite.png';
$icon-icon-usr: (503px, 525px, -503px, -525px, 204px, 229px, 1184px, 1054px, '../images/sprite.png', 'icon-icon-usr', );
$icon-info-name: 'icon-info';
$icon-info-x: 988px;
$icon-info-y: 397px;
$icon-info-offset-x: -988px;
$icon-info-offset-y: -397px;
$icon-info-width: 63px;
$icon-info-height: 92px;
$icon-info-total-width: 1184px;
$icon-info-total-height: 1054px;
$icon-info-image: '../images/sprite.png';
$icon-info: (988px, 397px, -988px, -397px, 63px, 92px, 1184px, 1054px, '../images/sprite.png', 'icon-info', );
$icon-link-name: 'icon-link';
$icon-link-x: 707px;
$icon-link-y: 675px;
$icon-link-offset-x: -707px;
$icon-link-offset-y: -675px;
$icon-link-width: 108px;
$icon-link-height: 50px;
$icon-link-total-width: 1184px;
$icon-link-total-height: 1054px;
$icon-link-image: '../images/sprite.png';
$icon-link: (707px, 675px, -707px, -675px, 108px, 50px, 1184px, 1054px, '../images/sprite.png', 'icon-link', );
$icon-link-1-name: 'icon-link_1';
$icon-link-1-x: 628px;
$icon-link-1-y: 754px;
$icon-link-1-offset-x: -628px;
$icon-link-1-offset-y: -754px;
$icon-link-1-width: 125px;
$icon-link-1-height: 121px;
$icon-link-1-total-width: 1184px;
$icon-link-1-total-height: 1054px;
$icon-link-1-image: '../images/sprite.png';
$icon-link-1: (628px, 754px, -628px, -754px, 125px, 121px, 1184px, 1054px, '../images/sprite.png', 'icon-link_1', );
$icon-location-name: 'icon-location';
$icon-location-x: 607px;
$icon-location-y: 878px;
$icon-location-offset-x: -607px;
$icon-location-offset-y: -878px;
$icon-location-width: 96px;
$icon-location-height: 138px;
$icon-location-total-width: 1184px;
$icon-location-total-height: 1054px;
$icon-location-image: '../images/sprite.png';
$icon-location: (607px, 878px, -607px, -878px, 96px, 138px, 1184px, 1054px, '../images/sprite.png', 'icon-location', );
$icon-market-name: 'icon-market';
$icon-market-x: 1076px;
$icon-market-y: 288px;
$icon-market-offset-x: -1076px;
$icon-market-offset-y: -288px;
$icon-market-width: 104px;
$icon-market-height: 83px;
$icon-market-total-width: 1184px;
$icon-market-total-height: 1054px;
$icon-market-image: '../images/sprite.png';
$icon-market: (1076px, 288px, -1076px, -288px, 104px, 83px, 1184px, 1054px, '../images/sprite.png', 'icon-market', );
$icon-more-name: 'icon-more';
$icon-more-x: 988px;
$icon-more-y: 716px;
$icon-more-offset-x: -988px;
$icon-more-offset-y: -716px;
$icon-more-width: 83px;
$icon-more-height: 58px;
$icon-more-total-width: 1184px;
$icon-more-total-height: 1054px;
$icon-more-image: '../images/sprite.png';
$icon-more: (988px, 716px, -988px, -716px, 83px, 58px, 1184px, 1054px, '../images/sprite.png', 'icon-more', );
$icon-msg-name: 'icon-msg';
$icon-msg-x: 1076px;
$icon-msg-y: 646px;
$icon-msg-offset-x: -1076px;
$icon-msg-offset-y: -646px;
$icon-msg-width: 100px;
$icon-msg-height: 71px;
$icon-msg-total-width: 1184px;
$icon-msg-total-height: 1054px;
$icon-msg-image: '../images/sprite.png';
$icon-msg: (1076px, 646px, -1076px, -646px, 100px, 71px, 1184px, 1054px, '../images/sprite.png', 'icon-msg', );
$icon-notification-name: 'icon-notification';
$icon-notification-x: 503px;
$icon-notification-y: 878px;
$icon-notification-offset-x: -503px;
$icon-notification-offset-y: -878px;
$icon-notification-width: 104px;
$icon-notification-height: 138px;
$icon-notification-total-width: 1184px;
$icon-notification-total-height: 1054px;
$icon-notification-image: '../images/sprite.png';
$icon-notification: (503px, 878px, -503px, -878px, 104px, 138px, 1184px, 1054px, '../images/sprite.png', 'icon-notification', );
$icon-page-name: 'icon-page';
$icon-page-x: 811px;
$icon-page-y: 525px;
$icon-page-offset-x: -811px;
$icon-page-offset-y: -525px;
$icon-page-width: 104px;
$icon-page-height: 150px;
$icon-page-total-width: 1184px;
$icon-page-total-height: 1054px;
$icon-page-image: '../images/sprite.png';
$icon-page: (811px, 525px, -811px, -525px, 104px, 150px, 1184px, 1054px, '../images/sprite.png', 'icon-page', );
$icon-passport-name: 'icon-passport';
$icon-passport-x: 707px;
$icon-passport-y: 525px;
$icon-passport-offset-x: -707px;
$icon-passport-offset-y: -525px;
$icon-passport-width: 104px;
$icon-passport-height: 150px;
$icon-passport-total-width: 1184px;
$icon-passport-total-height: 1054px;
$icon-passport-image: '../images/sprite.png';
$icon-passport: (707px, 525px, -707px, -525px, 104px, 150px, 1184px, 1054px, '../images/sprite.png', 'icon-passport', );
$icon-payments-calendar-name: 'icon-payments-calendar';
$icon-payments-calendar-x: 1076px;
$icon-payments-calendar-y: 200px;
$icon-payments-calendar-offset-x: -1076px;
$icon-payments-calendar-offset-y: -200px;
$icon-payments-calendar-width: 108px;
$icon-payments-calendar-height: 88px;
$icon-payments-calendar-total-width: 1184px;
$icon-payments-calendar-total-height: 1054px;
$icon-payments-calendar-image: '../images/sprite.png';
$icon-payments-calendar: (1076px, 200px, -1076px, -200px, 108px, 88px, 1184px, 1054px, '../images/sprite.png', 'icon-payments-calendar', );
$icon-pencil-name: 'icon-pencil';
$icon-pencil-x: 815px;
$icon-pencil-y: 675px;
$icon-pencil-offset-x: -815px;
$icon-pencil-offset-y: -675px;
$icon-pencil-width: 50px;
$icon-pencil-height: 50px;
$icon-pencil-total-width: 1184px;
$icon-pencil-total-height: 1054px;
$icon-pencil-image: '../images/sprite.png';
$icon-pencil: (815px, 675px, -815px, -675px, 50px, 50px, 1184px, 1054px, '../images/sprite.png', 'icon-pencil', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 988px;
$icon-phone-y: 0px;
$icon-phone-offset-x: -988px;
$icon-phone-offset-y: 0px;
$icon-phone-width: 88px;
$icon-phone-height: 150px;
$icon-phone-total-width: 1184px;
$icon-phone-total-height: 1054px;
$icon-phone-image: '../images/sprite.png';
$icon-phone: (988px, 0px, -988px, 0px, 88px, 150px, 1184px, 1054px, '../images/sprite.png', 'icon-phone', );
$icon-play-name: 'icon-play';
$icon-play-x: 1076px;
$icon-play-y: 475px;
$icon-play-offset-x: -1076px;
$icon-play-offset-y: -475px;
$icon-play-width: 88px;
$icon-play-height: 92px;
$icon-play-total-width: 1184px;
$icon-play-total-height: 1054px;
$icon-play-image: '../images/sprite.png';
$icon-play: (1076px, 475px, -1076px, -475px, 88px, 92px, 1184px, 1054px, '../images/sprite.png', 'icon-play', );
$icon-search-name: 'icon-search';
$icon-search-x: 1076px;
$icon-search-y: 955px;
$icon-search-offset-x: -1076px;
$icon-search-offset-y: -955px;
$icon-search-width: 79px;
$icon-search-height: 83px;
$icon-search-total-width: 1184px;
$icon-search-total-height: 1054px;
$icon-search-image: '../images/sprite.png';
$icon-search: (1076px, 955px, -1076px, -955px, 79px, 83px, 1184px, 1054px, '../images/sprite.png', 'icon-search', );
$icon-shield-med-name: 'icon-shield-med';
$icon-shield-med-x: 988px;
$icon-shield-med-y: 309px;
$icon-shield-med-offset-x: -988px;
$icon-shield-med-offset-y: -309px;
$icon-shield-med-width: 71px;
$icon-shield-med-height: 88px;
$icon-shield-med-total-width: 1184px;
$icon-shield-med-total-height: 1054px;
$icon-shield-med-image: '../images/sprite.png';
$icon-shield-med: (988px, 309px, -988px, -309px, 71px, 88px, 1184px, 1054px, '../images/sprite.png', 'icon-shield-med', );
$icon-shield-sm-name: 'icon-shield-sm';
$icon-shield-sm-x: 919px;
$icon-shield-sm-y: 675px;
$icon-shield-sm-offset-x: -919px;
$icon-shield-sm-offset-y: -675px;
$icon-shield-sm-width: 38px;
$icon-shield-sm-height: 46px;
$icon-shield-sm-total-width: 1184px;
$icon-shield-sm-total-height: 1054px;
$icon-shield-sm-image: '../images/sprite.png';
$icon-shield-sm: (919px, 675px, -919px, -675px, 38px, 46px, 1184px, 1054px, '../images/sprite.png', 'icon-shield-sm', );
$icon-shield-name: 'icon-shield';
$icon-shield-x: 1076px;
$icon-shield-y: 867px;
$icon-shield-offset-x: -1076px;
$icon-shield-offset-y: -867px;
$icon-shield-width: 75px;
$icon-shield-height: 88px;
$icon-shield-total-width: 1184px;
$icon-shield-total-height: 1054px;
$icon-shield-image: '../images/sprite.png';
$icon-shield: (1076px, 867px, -1076px, -867px, 75px, 88px, 1184px, 1054px, '../images/sprite.png', 'icon-shield', );
$icon-skype-name: 'icon-skype';
$icon-skype-x: 1076px;
$icon-skype-y: 0px;
$icon-skype-offset-x: -1076px;
$icon-skype-offset-y: 0px;
$icon-skype-width: 108px;
$icon-skype-height: 100px;
$icon-skype-total-width: 1184px;
$icon-skype-total-height: 1054px;
$icon-skype-image: '../images/sprite.png';
$icon-skype: (1076px, 0px, -1076px, 0px, 108px, 100px, 1184px, 1054px, '../images/sprite.png', 'icon-skype', );
$icon-star-name: 'icon-star';
$icon-star-x: 867px;
$icon-star-y: 754px;
$icon-star-offset-x: -867px;
$icon-star-offset-y: -754px;
$icon-star-width: 108px;
$icon-star-height: 100px;
$icon-star-total-width: 1184px;
$icon-star-total-height: 1054px;
$icon-star-image: '../images/sprite.png';
$icon-star: (867px, 754px, -867px, -754px, 108px, 100px, 1184px, 1054px, '../images/sprite.png', 'icon-star', );
$icon-store-name: 'icon-store';
$icon-store-x: 1076px;
$icon-store-y: 567px;
$icon-store-offset-x: -1076px;
$icon-store-offset-y: -567px;
$icon-store-width: 100px;
$icon-store-height: 79px;
$icon-store-total-width: 1184px;
$icon-store-total-height: 1054px;
$icon-store-image: '../images/sprite.png';
$icon-store: (1076px, 567px, -1076px, -567px, 100px, 79px, 1184px, 1054px, '../images/sprite.png', 'icon-store', );
$icon-telegram-name: 'icon-telegram';
$icon-telegram-x: 753px;
$icon-telegram-y: 754px;
$icon-telegram-offset-x: -753px;
$icon-telegram-offset-y: -754px;
$icon-telegram-width: 114px;
$icon-telegram-height: 102px;
$icon-telegram-total-width: 1184px;
$icon-telegram-total-height: 1054px;
$icon-telegram-image: '../images/sprite.png';
$icon-telegram: (753px, 754px, -753px, -754px, 114px, 102px, 1184px, 1054px, '../images/sprite.png', 'icon-telegram', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 988px;
$icon-twitter-y: 238px;
$icon-twitter-offset-x: -988px;
$icon-twitter-offset-y: -238px;
$icon-twitter-width: 88px;
$icon-twitter-height: 71px;
$icon-twitter-total-width: 1184px;
$icon-twitter-total-height: 1054px;
$icon-twitter-image: '../images/sprite.png';
$icon-twitter: (988px, 238px, -988px, -238px, 88px, 71px, 1184px, 1054px, '../images/sprite.png', 'icon-twitter', );
$icon-uah-name: 'icon-uah';
$icon-uah-x: 988px;
$icon-uah-y: 150px;
$icon-uah-offset-x: -988px;
$icon-uah-offset-y: -150px;
$icon-uah-width: 71px;
$icon-uah-height: 88px;
$icon-uah-total-width: 1184px;
$icon-uah-total-height: 1054px;
$icon-uah-image: '../images/sprite.png';
$icon-uah: (988px, 150px, -988px, -150px, 71px, 88px, 1184px, 1054px, '../images/sprite.png', 'icon-uah', );
$icon-user-name: 'icon-user';
$icon-user-x: 1076px;
$icon-user-y: 371px;
$icon-user-offset-x: -1076px;
$icon-user-offset-y: -371px;
$icon-user-width: 83px;
$icon-user-height: 104px;
$icon-user-total-width: 1184px;
$icon-user-total-height: 1054px;
$icon-user-image: '../images/sprite.png';
$icon-user: (1076px, 371px, -1076px, -371px, 83px, 104px, 1184px, 1054px, '../images/sprite.png', 'icon-user', );
$icon-usr-name: 'icon-usr';
$icon-usr-x: 503px;
$icon-usr-y: 754px;
$icon-usr-offset-x: -503px;
$icon-usr-offset-y: -754px;
$icon-usr-width: 125px;
$icon-usr-height: 124px;
$icon-usr-total-width: 1184px;
$icon-usr-total-height: 1054px;
$icon-usr-image: '../images/sprite.png';
$icon-usr: (503px, 754px, -503px, -754px, 125px, 124px, 1184px, 1054px, '../images/sprite.png', 'icon-usr', );
$icon-viber-name: 'icon-viber';
$icon-viber-x: 703px;
$icon-viber-y: 878px;
$icon-viber-offset-x: -703px;
$icon-viber-offset-y: -878px;
$icon-viber-width: 104px;
$icon-viber-height: 104px;
$icon-viber-total-width: 1184px;
$icon-viber-total-height: 1054px;
$icon-viber-image: '../images/sprite.png';
$icon-viber: (703px, 878px, -703px, -878px, 104px, 104px, 1184px, 1054px, '../images/sprite.png', 'icon-viber', );
$icon-whatsapp-name: 'icon-whatsapp';
$icon-whatsapp-x: 807px;
$icon-whatsapp-y: 878px;
$icon-whatsapp-offset-x: -807px;
$icon-whatsapp-offset-y: -878px;
$icon-whatsapp-width: 104px;
$icon-whatsapp-height: 104px;
$icon-whatsapp-total-width: 1184px;
$icon-whatsapp-total-height: 1054px;
$icon-whatsapp-image: '../images/sprite.png';
$icon-whatsapp: (807px, 878px, -807px, -878px, 104px, 104px, 1184px, 1054px, '../images/sprite.png', 'icon-whatsapp', );
$icon-youtube-name: 'icon-youtube';
$icon-youtube-x: 988px;
$icon-youtube-y: 562px;
$icon-youtube-offset-x: -988px;
$icon-youtube-offset-y: -562px;
$icon-youtube-width: 71px;
$icon-youtube-height: 71px;
$icon-youtube-total-width: 1184px;
$icon-youtube-total-height: 1054px;
$icon-youtube-image: '../images/sprite.png';
$icon-youtube: (988px, 562px, -988px, -562px, 71px, 71px, 1184px, 1054px, '../images/sprite.png', 'icon-youtube', );
$spritesheet-width: 1184px;
$spritesheet-height: 1054px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-arr-back, $icon-arr-down-med, $icon-arr-down-sm, $icon-arr-med, $icon-arr-sm, $icon-back-arr, $icon-calendar-sm, $icon-card, $icon-changes, $icon-email, $icon-eye-open, $icon-eye-shut, $icon-facebook, $icon-flag, $icon-home, $icon-icon-shield-half, $icon-icon-shield, $icon-icon-star-full, $icon-icon-star-half, $icon-icon-usr, $icon-info, $icon-link, $icon-link-1, $icon-location, $icon-market, $icon-more, $icon-msg, $icon-notification, $icon-page, $icon-passport, $icon-payments-calendar, $icon-pencil, $icon-phone, $icon-play, $icon-search, $icon-shield-med, $icon-shield-sm, $icon-shield, $icon-skype, $icon-star, $icon-store, $icon-telegram, $icon-twitter, $icon-uah, $icon-user, $icon-usr, $icon-viber, $icon-whatsapp, $icon-youtube, );
$spritesheet: (1184px, 1054px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
