
.login-form,
.login-form-1{
	padding-top: 5.2%;
	padding-bottom: 5%;
	text-align: center;
	
}

.login-form__form{
	padding-top: 2%;
	display: inline-block;
	text-align: center;
	width: 316px;
	
}

.login-form__title{
	color: #434D59;
	font-size: 22px;
	
}

.login-form__form--label {
	display: inline-block;
	text-align: left;
	color: #8F99A7;
	font-size: 14px;
	width:100%;
}

.login-form__form--input,
.login-form__form--button__link{
	display: inline-block;
}

.login-form__form--input {
	border-bottom: 1px solid #8F99A7;
	width: 100%;
	padding: 2.5% 0 0.5%;
	font-size: 18px
}
.login-form__capcha_icon_img{
	width:60px;
}
.login-form__form--button__link{

	background: #1d6bb2;
	margin-top: 27px;
	border-radius: 2px;
	color: white;
	padding: 6.5% 0;
	width: 100%;
	font-size: 14px;
}

.login-form__description{
	padding-top: 4.5%;
	text-align: center;
	color: #8F99A7;
	font-size: 14px
}


/*1.1*/

.login-form-1__status{
	padding: 2% 0 0.7% 0;
	color: #434D59;
	font-size: 16px;

}

.login-form-1__about{
	display: block;
	color: #1D6BB2;
	font-size: 12px;
	padding-top: 1.5%;
}

.login-form__form-page2{
	padding-top: 1.8%; 
	
}

.login-form__description1-1{
	padding-top: 2.8%
}


/*2*/

.login-form__form-page2{
	position: relative
}

.login-form__icon{
	width: 6%;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 10%;
	margin-right: 5%;
}

.login-form__error__check,
.login-form__check {
	-webkit-appearance: checkbox;
}

.login-form__icon:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 35%;
	margin-right: -9%;
	width: 120%;
	height: 2px;
	background: gray;
	transform: rotate(132deg);
}

#check-form{
	display: none;
}
.login-form__form--input-page2{
	display: none;
}

#check-form:checked+.login-form__icon-label>.login-form__icon:before {
	display: none;
}

#check-form:checked~.login-form__form--input-page1 {
	display: none;
}

#check-form:checked~.login-form__form--input-page2{
	display: block;
}


.login-form__form--input-page{
	padding-bottom: 2%
}


/*1-2*/

.login-form__error{
	position: relative;
	background: #E78D23;
	padding: 10px 0 6px;
	color: white;
	font-size: 14px
}

.login-form__error-close{
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0.7%;
	margin-right: 3%;
}

.login-form1-2__title{
	padding-top: 1.4%;
}

#check_error,
#check_error:checked+.login-form__error{
	display: none;
}

.login-form__description1-2 {
	padding-top: 2.3%
}

.login-form__capcha{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
	background: #D3D3D3;
	border-radius: 5px;
	border: 1px solid #C0C0C0;
	margin-top: 10px;
	padding: 1.8% 3% 1.4%;
}

.login-form__capcha__check {
	display: inline-block;
	-webkit-appearance: checkbox;
	width:30px;
	height: 30px;
}

.login-form__capcha__label{
	width: 67%;
	text-align: left;
	padding-left: 2%;
}

.login-form__capcha_description{
	font-size: 8px;
	color:#9B9B9B;
	padding-top: 1%;
}

@media screen and (max-width: 354px) {
	.login-form__form{
		width: 90%;
		min-width: 220px;
	}

	.login-form__capcha__label{
		width: 60%	
	}
}

@media screen and (max-width: 284px){
	.login-form__capcha__label{
		width: 53%	
	}
	
}


	


	



