$icon_dir: '../images/icons/';
$img_dir: '../images/police-list/';
$gradient-green: linear-gradient(to left, rgba(92,188,102,1) 0%, rgba(0,152,175,1) 100%);

$gradient-orange: linear-gradient(to left, rgba(247,148,29,1) 0%,rgba(163,46,9,1) 100%);

$gradient-blue: linear-gradient(to left, rgba(63,128,186,1) 0%,rgba(133,172,211,1) 100%);

$shadow-default: 0 1px 10px rgba(63,128,186,.2);

$shadow-hover: 0 5px 30px rgba(63,128,186,.3);

$shadow-green: drop-shadow(20px 0 0 rgba(92,188,102,.4));

$shadow-orange: drop-shadow(20px 0 0 rgba(247,148,29,.4));

$shadow-blue: drop-shadow(20px 0 0 rgba(63,128,186,1));

$shadow-none: drop-shadow(0 0 0 rgba(255,255,255,.0));

$shadow-small: drop-shadow(0 0 10px rgba(0,0,0,.2));

.police_container {
	padding: 0 25px 0 100px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width:1100px) {
	.police_container {
		justify-content: space-between;
	}
}

@media screen and (max-width:800px) {
	.police_container {
		padding: 0 25px;
	}
}

.police__item {
	min-width: 300px;
    width: 25%;
    height: 198px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-default;
    transition: all 0.5s ease-in-out;
    &:hover {
	transform: translate(0, -0.5em);
	box-shadow: $shadow-hover;
	cursor: pointer;
	}
}


@media screen and (max-width:1360px) {
	.police__item {
	width: 31%;
	}
}

@media screen and (max-width:1100px) {
	.police__item {
	width: 47%;
	}
}

@media screen and (max-width:800px) {
	.police__item {
	width: 100%;
	}
}

.police__color {
	position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.color--green {
	background:url($img_dir + 'green.jpg') no-repeat;
	background-size: cover;
}

.color--orange {
	background:url($img_dir + 'orange.jpg') no-repeat;
	background-size: cover;
}

.color--blue {
	background:url($img_dir + 'blue.jpg') no-repeat;
	background-size: cover;
}

.police__color::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 198px;
	transform: skew(-45deg) translate(-40%);
	opacity: .9;
	transition: all 0.5s ease-in-out;
}

.police__item:hover > .police__color::before {
	transform: skew(0) translate(0);
	filter: $shadow-none;
	cursor: pointer;
}

.color--green::before {
	background: $gradient-green;
	filter: $shadow-green;
}

.color--orange::before {
	background: $gradient-orange;
	filter: $shadow-orange;
}

.color--blue::before {
	background: $gradient-blue;
	filter: $shadow-blue;
}


.police__item__info {
	padding: 30px 30px 0;
    max-width: 16em;
    color: #fff;
    z-index: 1;
    &:hover > .btn--arr_sm {
	transform: translateX(0);
	opacity: 1;
	visibility:visible;
	}

    &:hover > .btn--arr_sm::before {
	transform: translateX(0);
	opacity: 1;
	visibility:visible;
	}
}

.police__item__bottom {
	padding: 0 30px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;
    z-index: 1;
}

.police__item__name {
	font-size: 22px;
	font-weight: 300;
	text-transform: none;
	color: #fff;
	margin-bottom: 0.3em;
}

.police__item__id {
	font-size: 14px;
	font-weight: 300;
	text-transform: none;
	color: #fff;
}

.police__item__price {
	font-size: 35px;
	font-weight: 500;
	text-transform: none;
	white-space: nowrap;
	margin: 0.6em 0;
}

%currency {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.05em;
	vertical-align: baseline;
	top: -0.6em;
	left: 0.4em;
	position: relative;
	line-height: 0;
}

.uah::after {
	@extend %currency;
	content: 'uah';
	
}

.usd::after {
	@extend %currency;
	content: '$';
}

.police__item__pack, .police__item__date, .police__item__status {
	font-size: 14px;
    color: #434d59;
    font-weight: 400;
    display: flex;
    align-self: center;
}

@media screen and (max-width:1200px) {
	.police__item__pack, .police__item__date, .police__item__status {
	font-size: 12px;
	}
}

@media screen and (max-width:768px) {
	.police__item__pack, .police__item__date, .police__item__status {
	font-size: 14px;
	}
}

.police__item__status {
	color: #8f99a7;
}

.btn--arr_sm, .btn--arr_sm::before {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 65px;
	right: 20px;
	display: block;
	border-radius: 100%;
	z-index: 2;
	transform: translateX(100px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
	filter: $shadow-small;
	background: rgba(255,255,255,1) url($icon_dir + 'arr-sm.svg') no-repeat center center;
	background-size: 20%;
}

.btn--arr_sm::before {
	content: '';
	bottom: 0;
	right: 60px;
	background: rgba(255,255,255,1) url($icon_dir + 'card.svg') no-repeat center center;
}




