// Colour Scheme


$base-color: #1d6bb2;
$acsent-color: #f4b60e;
$sec-color: #4c9d11;
$dark-gray: #434d59;
$midl-gray: #788392;
$light-gray: #8f99a7;

// Extra colours


$orange: #f07317;
$green: #1d9e3b;
$blue: #218ca3;
$gray: #eeeeee;
$white: #f6f7fb;





// устаревшие переменные


$primary-color: #099;

$base-font: 'Lato';