.clearfix {
	content: '';
	clear: both;
	overflow: hidden;
	display: table;
}

.contacts,
.adress,
.requisites,
.settings {
  display: none;
  padding: 20px 0 0;
}

.radio {
  display: none;
}

.user-profile__tab {
  display: inline-block;
  margin: 20px 20px 20px 0;
  padding: 15px 30px;
  width: 200px;
  font-weight: 600;
  text-align: center;
  color: $dark-gray;
  border: 1px solid $gray;
  border-radius: 4px;
}

.user-profile__tab:hover {
  background-color: $green;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.radio:checked + .user-profile__tab {
	background-color: $green;
	border-radius: 4px;
	color: #fff;
  	border: 1px solid #ddd;
  	border-bottom: 1px solid #fff;
}

#tab1:checked ~ #contacts,
#tab2:checked ~ #adress,
#tab3:checked ~ #requisites,
#tab4:checked ~ #settings {
  display: block;
}

.contacts__telefon {
	width: 50%;
}

.contacts-social {
	padding: 20px 0 5px;
}

.contacts__number--main {
	width: 40%;
}

.contacts__number--additional {
	width: 40%;
}

.social-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.social-checkbox + .social-label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.social-checkbox + .social-label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 17px;
  border-radius: 13px;
  background: $white;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}
.social-checkbox + .social-label:after {
  content: '';
  position: absolute;
  top: -4px;
  left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: $white;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}
.social-checkbox:checked + .social-label:before {
  background: $blue;
}
.social-checkbox:checked + .social-label:after {
  left: 26px;
}

.checkbox:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}

.valid {
	-webkit-appearance: checkbox;
	width: 15px;
	height: 15px;
	color: $green;
}

// input[type=checkbox] {
// 	width: 50px;
// 	height: 17px;
// 	background: $blue;
// 	margin: 0 auto;
// 	position: relative;
// 	border-radius: 50px;
//   	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
// }

// input[type=checkbox]::after {
// 	content: '';
// 	display: block;
//     width: 25px;
//     height: 25px;
//     position: absolute;
//     top: -3px;
//     left: -3px;
//     cursor: pointer;
//     background: $white;
//     // background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//     border-radius: 50px;
//     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
//     transition: all 0.4s ease;

// }

// .social-label {
// 	padding-left: 20px;
// }

// .input[type=checkbox]:checked {
// 	background-color: $white;
// }

//   input[type=checkbox]:checked + input[type=checkbox]::after {
// 		left: 30px;
// }  



// @media screen and (max-width: 650px) {
//   label {
//     font-size: 0;
//   }
//   label:before {
//     margin: 0;
//     font-size: 18px;
//   }
// }

// @media screen and (max-width: 400px) {
//   label {
//     padding: 15px;
//   }
// }

.contacts__telefon--title,
.contacts__email--title {
	color: $dark-gray;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 500;
	line-height: 24px;
	padding: 15px 30px 15px 0;
}

.contacts__telefon {
	float: left;
	color: $dark-gray;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	padding: 10px;
}

.contacts__number--main,
.contacts__number--additional,
.contacts__email,
.contacts__email--value {
	display: inline-block;
	padding: 15px 50px 15px 0;
	min-width: 220px;
}

.contacts__number--main,
.contacts__email--value {
	color: $dark-gray;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 44px;
}

.contacts__number--option {
	color: $light-gray;
}

.contacts__number--additional {
	color: #aeb2bb;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 44px;
}

.settings__language a,
.contacts__number--link {
	color: #1a2235;
}

.contacts__email--value,
.contacts__number--link {
	display: block;
	position: relative;
}

// .contacts__number--link::after {
// 	content: url('../images/sprite/pencil.png');
// 	position: absolute;
// 	top: 0;
// 	left: 100%;
// }

.contacts__number--link span,
.contacts__email--value span {
	line-height: 1.4;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

.icon-pencil,
.icon-valid {
	position: absolute;
	right: 0;
	top: 50%;
	margin-right: 45px;
}

.icon-valid {
    margin-right: 10px;
    margin-top: -6px;
}