<div class="container">
<div class="ad-gallery">
    <nav class="ad-gallery__nav">
        <button class="ad-gallery__nav-button ad-gallery__nav-button-right">

        </button>
        <button class="ad-gallery__nav-button ad-gallery__nav-button-left">

        </button>
    </nav>
    <div class="ad-gallery-box">
        <article class="ad-gallery__box-content">
            <figure class="ad-gallery__box__content-figure">
                <img src="images/ad-gallery/Cheetah.png" class="ad-gallery__box__content__figure-img">
            </figure>
            <h6 class="ad-gallery__box__content_title">
                ВИПЛАТА ПО ДОЖИТТЮ ЗА 1 ДЕНЬ – ТЕПЕР І В UNIVERSAL BANK
            </h6>
        </article>
        <article class="ad-gallery__box-content">
            <figure class="ad-gallery__box__content-figure">
                <img src="images/ad-gallery/finsance.png" class="ad-gallery__box__content__figure-img">
            </figure>
            <h6 class="ad-gallery__box__content_title">
                ПІДСУМКИ ДІЯЛЬНОСТІ КОМПАНІЇ ЗА 9 МІСЯЦІВ 2017 РОКУ
            </h6>
        </article>
        <article class="ad-gallery__box-content">
            <figure class="ad-gallery__box__content-figure">
                <img src="images/ad-gallery/flag.png" class="ad-gallery__box__content__figure-img">
            </figure>
            <h6 class="ad-gallery__box__content_title">
                СК «ТАС LIFE» – ЕКСКЛЮЗИВНИЙ ПРЕДСТАВНИК В УКРАЇНІ<br> INTERNATIONAL GROUP PROGRAM
            </h6>
        </article>
    </div>
</div>
</div>