<section class="login-form">
	<h2 class="login-form__title">Авторизація</h2>
	<form class="login-form__form login-form__form-page2">
		<figure class="login-form__icon">
			<i class="icon eye-shut svg"></i>
		</figure>
		<label class="login-form__form--label"> Пароль з СМС повідомлення 
			<input class="login-form__form--input login-form__form--input-page" type="password" name="">
		</label>
			<button class="login-form__form--button__link"> ПРОДОВЖИТИ</button>
	</form>
	<p class="login-form__description">Користуватися сервісом мають можливість лише Страхувальники-фізичні особи</p>
</section>