<section class="login-form-1">
	<h2 class="login-form__title">Авторизація</h2>
	<p class="login-form-1__status">Нажаль, ми не можемо ідентифікувати цей номер.</p>
	<form class="login-form__form login-form__form-1">
		<button class="login-form__form--button__link">ІДЕНТИФІКУВАТИ МЕНЕ
		</button>
	</form>
	<a class="login-form-1__about" href="#">Я ФІНАНСОВИЙ КОНСУЛЬТАНТ</a>
	<p class="login-form__description login-form__description1-1">Користуватися сервісом мають можливість лише Страхувальники-фізичні особи</p>
</section>