<section class="login-form">
	<input id="check_error" class="login-form__error__check" type="checkbox"/>
	<div class="login-form__error">
		<label class="login-form__error-close" for="check_error">&#10060</label>
		<p class="login-form__error__description">Нажаль, ми не можемо ідентифікувати цей номер. Будь-ласка, перевірте правильність введених даних.</p>
	</div>
	<h2 class="login-form__title login-form1-2__title">Авторизація</h2>
	<form class="login-form__form">
		<label class="login-form__form--label"> Номер телефону 
			<input required class="login-form__form--input" type="tel" name="">
		</label>

		<div class="login-form__capcha">
			<input class="login-form__capcha__check" type="checkbox"/>
			<p class="login-form__capcha__label"> Я не робот</p>
			<figure class="login-form__capcha_icon">
				<img class="login-form__capcha_icon_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/RecaptchaLogo.svg/150px-RecaptchaLogo.svg.png">
			</figure>
			<p class="login-form__capcha_description">Конфиденциальность - Условия использования</p>
		</div>
	</form>
	<p class="login-form__description login-form__description1-2">Користуватися сервісом мають можливість лише Страхувальники-фізичні особи</p>
</section>