<section class="login-form">
	<h2 class="login-form__title">Авторизація</h2>
	<form class="login-form__form">
		<label class="login-form__form--label"> Номер телефону 
			<input placeholder="+3(80)" class="login-form__form--input" type="tel" name="">
		</label>
		<div class="login-form__capcha">
			<div class="login-form__capcha-box">
				<input class="login-form__capcha__check" type="checkbox"/>
				<p class="login-form__capcha__label"> Я не робот</p>
				<div class="login-form__capcha_icon">
				<img class="login-form__capcha_icon_img clearfix" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/RecaptchaLogo.svg/150px-RecaptchaLogo.svg.png">
				</div>
		</form>
			<p class="login-form__capcha_description clearfix">Конфиденциальность - Условия использования</p>
		</div>
		</div>		
	<p class="login-form__description ">Користуватися сервісом мають можливість лише Страхувальники-фізичні особи</p>
</section>