<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
        content="width=device-width,
                 initial-scale=1.0,
                 maximum-sale=1.0,
                 user-scalable=no"
  >
	<title>Police List</title>
</head>
<body>
	<div class="wrap">
		<div class="police_container">
			<div class="police__item">				
				<div class="police__color color--green">
					<div class="police__item__info">
						<h3 class="police__item__name">Мій поліс</h3>
						<p class="police__item__id">JU 0038193</p>
						<h5 class="police__item__price uah">72 742</h5>
					</div>
					<div class="police__item__bottom">
						<div class="police__item__pack">ТАС-Лайф</div>
						<div class="police__item__date">01.08.2016</div>
						<div class="police__item__status">Виплата викупної</div>
					</div>
				</div>
			</div>

			<div class="police__item">				
				<div class="police__color color--orange">
					<div class="police__item__info">
						<h3 class="police__item__name">Мій улюблений поліс</h3>
						<p class="police__item__id">JU 0054120</p>
						<h5 class="police__item__price uah">100 000</h5>
					</div>
					<div class="police__item__bottom">
						<div class="police__item__pack">ТАС-Пенсія</div>
						<div class="police__item__date">01.08.2016</div>
						<div class="police__item__status">Дійсний</div>
					</div>
				</div>
			</div>

			<div class="police__item">				
				<div class="police__color color--blue">
					<div class="police__item__info">
						<h3 class="police__item__name">На щастя</h3>
						<p class="police__item__id">JU 0058324</p>
						<h5 class="police__item__price uah">1 150 000</h5>
					</div>
					<div class="police__item__bottom">
						<div class="police__item__pack">Формула Здоров’я</div>
						<div class="police__item__date">01.08.2016</div>
						<div class="police__item__status">Дійсний</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</body>
</html>