<section class="profile__user-header">
	<figure class="profile__user-photo"><img src="images/user_card/profile-user-photo.jpg" alt=""></figure>
	<h1 class="profile__user-name">Мусякевич Оксана Ігорівна</h1>
	<figure class="profile__ua-icon"><img src="images/sprite/ua-circle.png" alt=""></figure>
</section>
<section class="user-profile">
	<input id="tab1" type="radio" class="radio" name="tabs" checked>
	  <label for="tab1" class="user-profile__tab">Контакти</label>
	    
	<input id="tab2" type="radio" class="radio" name="tabs">
	  <label for="tab2" class="user-profile__tab">Адреса</label>
	    
	<input id="tab3" type="radio" class="radio" name="tabs">
	  <label for="tab3" class="user-profile__tab">Реквізити</label>
	    
	<input id="tab4" type="radio" class="radio" name="tabs">
	  <label for="tab4" class="user-profile__tab">Налаштування</label>
<section id="contacts" class="contacts clearfix">
	<div class="contacts__number">
		<p class="contacts__number--title">Телефон</p>
		<div class="contacts__number--main">
			<a class="contacts__number--link" href="phone-to">
				<i class="icon icon-phone"></i>
				<span class="contacts__number--value">
					+380 (67) 123-45-67<br>
					Основний
				</span>
				<i class="icon icon-pencil"></i>
			</a>
			<div class="contacts-social">
				<input type="checkbox" value="None" id="viber" name="check" class="social-checkbox" checked />
	      		<label for="viber" class="social-label">Viber</label>
	      	</div>
	      	<div class="contacts-social">
	      		<input type="checkbox" value="None" id="telegram" name="check" class="social-checkbox" checked />
	      		<label for="telegram" class="social-label">Telegram</label>
	      	</div>
	      	<div class="contacts-social">
				<input type="checkbox" value="None" id="whatsapp" name="check" class="social-checkbox"/>
	      		<label for="whatsapp" class="social-label">Whatsapp</label>
	      	</div>
		</div>
		<div class="contacts__number--additional">
			<a class="contacts__number--link" href="phone-to">
				<i class="icon icon-phone"></i>
				<span class="contacts__number--value additional-number">
					380 (xx) xxx-xx-xx<br>
					Додатковий</span>
				<i class="icon icon-pencil"></i>
			</a>
			<div class="contacts-social">
				<input type="checkbox" value="None" id="viber-add" name="check" class="social-checkbox"/>
	      		<label for="viber-add" class="social-label">Viber</label>
	      	</div>
	      	<div class="contacts-social">
	      		<input type="checkbox" value="None" id="telegram-add" name="check" class="social-checkbox"/>
	      		<label for="telegram-add" class="social-label">Telegram</label>
	      	</div>
	      	<div class="contacts-social">
				<input type="checkbox" value="None" id="whatsapp-add" name="check" class="social-checkbox"/>
	      		<label for="whatsapp-add" class="social-label">Whatsapp</label>
	      	</div>
		</div>
	</div>
	<div class="contacts__email">
		<p class="contacts__email--title">Email</p>
			<a class="contacts__email--value">
				<i class="icon icon-email"></i>
				<span>my.email75@gmail.com</span>
				<i class="icon icon-valid"></i>
			</a>
	</div>	
</section>
<section id="adress" class="adress clearfix">
	<div class="adress__mail">
		<p class="adress__mail--title">Адреса листування</p>
		<a class="adress__mail--link" href="phone-to">
			<i class="icon icon-location"></i>
			<span class="adress__mail--value">
					Оболонський проспект, буд.14-А, кв.59, м.Київ, 04205, Україна
			</span>
			<i class="icon icon-pencil"></i>
		</a>
	</div>
	<div class="adress__registration">
		<p class="adress__registration--title">Адреса реєстрації</p>
		<a class="adress__registration--link">
			<i class="icon icon-location"></i>
			<span>Оболонський проспект, буд.14-А, кв.59, м.Київ, 04205, Україна</span>
		</a>
	</div>
</section>
<section id="requisites" class="requisites clearfix">
		<div class="contacts__number">
		<p class="contacts__number--title">Документи</p>
		<div class="requisites__item--passport contacts__number--main">
			<a class="contacts__number--link" href="phone-to">
				<i class="icon icon-passport"></i>
				<span class="contacts__number--value">
					ПК 123456<br>
					Паспорт
				</span>
			</a>
		</div>
		<div class="requisites__item--inn contacts__number--additional">
			<a class="contacts__number--link" href="phone-to">
				<i class="icon icon-passport"></i>
				<span class="contacts__number--value additional-number">
					1234567890<br>
					Індивідуальний податковий номер (ІПН)</span>
			</a>
	      	</div>
		</div>
</section>
<section id="settings" class="settings clearfix">
<div class="settings__flex">
	<div class="settings__communicate contacts__number">
		<p class="contacts__number--title">Способи комунікації з СК «ТАС»</p>
		<div class="contacts__number--main">
			<div class="contacts-social">
				<input type="checkbox" value="None" id="contact-number" name="check" class="social-checkbox" checked />
	      		<label for="contact-number" class="settings__communicate--item social-label">Контактний телефон</label>
	      	</div>
	      	<div class="contacts-social">
	      		<input type="checkbox" value="None" id="email" name="check" class="social-checkbox" />
	      		<label for="email" class="settings__communicate--item social-label">Email</label>
	      	</div>
	      	<div class="contacts-social">
				<input type="checkbox" value="None" id="viber-tel" name="check" class="social-checkbox" checked="" />
	      		<label for="viber-tel" class="settings__communicate--item social-label">Вайбер (контактний телефон)</label>
	      	</div>
	      	<div class="contacts-social">
	      		<input type="checkbox" value="mail-adress" id="telegram" name="check" class="social-checkbox" />
	      		<label for="mail-adress" class="settings__communicate--item social-label">Адреса листування</label>
	      	</div>
	      	<div class="contacts-social">
				<input type="checkbox" value="account" id="whatsapp" name="check" class="social-checkbox" checked />
	      		<label for="account" class="settings__communicate--item social-label">Кабінет клієнта</label>
	      	</div>
		</div>
	</div>
	<div class="settings__second-column">
		<div class="settings__social contacts__number">
			<p class="contacts__number--title">Зв'язок із соціальними мережами</p>
			<div class="contacts__number--main">
				<div class="contacts-social">
					<input type="checkbox" value="None" id="facebook" name="check" class="social-checkbox" checked />
		      		<label for="facebook" class="settings__social--item social-label">Facebook</label>
		      	</div>
		      	<div class="contacts-social">
		      		<input type="checkbox" value="None" id="linkedin" name="check" class="social-checkbox" />
		      		<label for="linkedin" class="settings__social--item social-label">Linkedin</label>
		      	</div>
			</div>
		</div>

		<div class="settings__advert contacts__email">
			<p class="contacts__email--title">Рекомендації та реклама</p>
				<div class="contacts-social">
		      		<input type="checkbox" value="None" id="sale" name="check" class="social-checkbox" checked />
		      		<label for="sale" class="social-label">Персональні та акційні пропозиції</label>
		      	</div>
		</div>	
	</div>
	<div class="settings__language contacts__email">
		<p class="contacts__email--title">Мова інтерфейсу</p>
		<a href="" class="settings__language--option">UA</a>
		<a href="" class="settings__language--option">RU</a>
		<a href="" class="settings__language--option">EN</a>
	</div>	
</div>
</section>
</section>