<nav class="sidenav">

	<a href="#" class="sidenav__link">
		<i class="icon icon-more"></i>
	</a>
	<a href="profile.html" class="sidenav__link sidenav__link--active">
		<i class="icon icon-home"></i>
	</a>
	<a href="police-list.html" class="sidenav__link">
		<i class="icon icon-shield"></i>
	</a>
	<a href="calendar.html" class="sidenav__link">
		<i class="icon icon-payments-calendar"></i>
	</a>
	<a href="page-404whole.html" class="sidenav__link">
		<i class="icon icon-changes"></i>
	</a>
	<a href="#" class="sidenav__link">
		<i class="icon icon-flag"></i>
	</a>
	<a href="#" class="sidenav__link">
		<i class="icon icon-store"></i>
	</a>

	<div class="sidenav__bottom">
		<a href="#" class="sidenav__link">
			<i class="icon icon-viber"></i>
		</a>
		<a href="#" class="sidenav__link">
			<i class="icon icon-telegram"></i>
		</a>
		<a href="#" class="sidenav__link">
			<i class="icon icon-whatsapp"></i>
		</a>
		<a href="#" class="sidenav__link">
			<i class="icon icon-user"></i>
		</a>
	</div>

</nav>

<nav class="sidenav-mobile">

	<input id="nav-mob" class="nav-mob" type="checkbox">
	<label for="nav-mob">
		<i class="icon icon-more"></i>
	</label>

	<div class="sidenav-mobile__body" id="sidenav-mobile__body">
		
		<div class="sidenav-mobile__top">
			<div class="sidenav-mobile__top-line">
				<label for="nav-mob" class="sidenav-mobile__link">
					<i class="icon icon-more"></i>
				</label>
				<a href="#" class="sidenav-mobile__link">
					<img src="../images/sidenav/logout.png" alt="">
				</a>
			</div>
			<div class="sidenav-mobile__header-wrap">
				<a href="#" class="sidenav-mobile__avatar-link">
					<img src="../images/sidenav/sidenav-mobile__avatar.png" alt="">
				</a>
				<h5 class="sidenav-mobile__header">Вітаємо,<br />Оксано!</h5>
			</div>
		</div>

		<div class="sidenav-mobile__main">
			
			<a href="#" class="sidenav-mobile__item">
				<i  class="icon icon-home"></i>
				<span>Головна</span>
			</a>
			<a href="#" class="sidenav-mobile__item sidenav-mobile__item--active">
				<i  class="icon icon-shield"></i>
				<span>Поліси</span>
			</a>
			<a href="#" class="sidenav-mobile__item">
				<i  class="icon icon-payments-calendar"></i>
				<span>Календар оплат</span>
			</a>
			<a href="#" class="sidenav-mobile__item">
				<i  class="icon icon-changes"></i>
				<span>Внесення змін</span>
			</a>
			<a href="#" class="sidenav-mobile__item">
				<i  class="icon icon-flag"></i>
				<span>Страхові випадки</span>
			</a>
			<a href="#" class="sidenav-mobile__item">
				<i  class="icon icon-store"></i>
				<span>Магазин</span>
			</a>

			<div class="sidenav-mobile__bottom">
				<a href="#" class="sidenav-mobile__bottom-item">
					<i  class="icon icon-viber"></i>
					<div>viber</div>
				</a>
				<a href="#" class="sidenav-mobile__bottom-item">
					<i  class="icon icon-telegram"></i>
					<div>telegram</div>
				</a>
				<a href="#" class="sidenav-mobile__bottom-item">
					<i  class="icon icon-whatsapp"></i>
					<div>whatsApp</div>
				</a>
				<a href="#" class="sidenav-mobile__bottom-item">
					<i  class="icon icon-user"></i>
					<div>online-чат</div>
				</a>
			</div>

		</div>
	
	</div>
</nav>


